*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: red;
    background-color: rgb(0, 217, 255);
}
.parent-container{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    width: 100vw;
    height: 100vh;
}

/*  Aca van los estilod comunes a todos los div  */
div{
    border: 1px solid black;
    align-content: center;
    font-size: 25 px;
}
.child-container{
    display: flex;
    background-color: #F0223B;
    width: 66%;
    height: 15%;
} 
.child-container2{
    display: flex;
    background-color: #FA23A9;
    width: 34%;
    height: 15%;
} 
.child-container3{
    display: flex;
    background-color: #8D0E96;
    width: 50%;
    height: 70%;
} 
.child-container4{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 70%;
} 
.child-container4a{
    display: flex;
    background-color: #14E3B5;
    width: 100%;
    height: 50%;
}
.child-container4b{
    display: flex;
    background-color: #15967A;
    width: 100%;
    height: 50%;
}
.child-container6{
    display: flex;
    background-color: #D72BE3;
    width: 33.3%;
    height: 15%;
}
.child-container7{
    display: flex;
    background-color: #F34AFF;
    width: 33.3%;
    height: 15%;
}
.child-container8{
    display: flex;
    background-color: #7BE32B;
    width: 33.3%;
    height: 15%;
}
